
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}


#header
{
	background-color: black/*#565656 #218C8D   #181818*/; 
	font-size: 60px;
	color: white;
	text-align: center;
	padding: 5px;
	border: 10px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

#content
{
	background-color: #C8C8C8;
	padding: 30px;
	padding-right: 40px;
	border: 10px solid black;
	 border-radius: 15px 50px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 40px;
	font-family: Lucida Console;
	font-size: 20px;
	
	
}
	