body
{
  background-color: white; 
}
 
#header
{
	width: 100%;
	font-size: 60px;
	font-family: Script MT Bold;
	color: white;
	text-align: center;
	padding: 0px;
	border: 10px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

#navbar table
{
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black; 
	border: 3px;
	border-radius: 20px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: white;
}
#navbar td
{
	padding: 10px;
	margin: 20px;
}

#content table
{
	font-size: 20px;
	font-family: Arial;
	color:black;
	margin-left: 20%;
	padding: 10px;
}

#left 
{
	padding: 10px;
	border: 10px;
	margin-left: auto;
}

#right
{
	padding: 10px;
	border: 10px;
	margin-left: auto;
	
}

h3
{
	text-align: center;
}


a:link
{
    text-decoration:none;
    color: black;
    font-family: Arial;
}

a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */


