body
{
 background: url("b3.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
}


#header
{
	background-color: black/*#565656 #218C8D   #181818*/; 
	font-size: 60px;
	color: white;
	text-align: center;
	padding: 5px;
	border: 10px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

#content
{
	margin-top: 40px;
	
}

table
{
	margin-top: 10%;
	padding: 1px;
	margin-top: -5px;
	margin-right: 5px;
	margin-left: 10px;
	background-color: #C8C8C8;
	border: 3px solid black; 
	margin: auto;
}
h3
{
font-family: Calibri;
font-size: 15px;
text-align: center;
background-color: black;
color: #D8D8D8;
width: 100%;
margin-right: -10px;
}

td
{
width: 80px;
height: 80px;

}


a:link
{
    text-decoration:none;
    color: black;
    font-family: Arial;
}

a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */